* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-main {
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
}

.home-container-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, #000428, #004e92);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-color: #480ec5; */
}

.home-heading {
    width: 100%;
    height: 20%;
    text-align: center;
    margin-top: 20px;
    font-size: 2vw;
    /* background-color: #1131b0; */
}

.home-heading h1 {
    color: white;
}

.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */
}

.home-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-left img {
    width: auto;
    height: auto;
}

.home-left img {
    width: auto;
    height: auto;
    animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.home-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    /* border: 1px solid white; */
}

.home-form {
    width: 50%;
    /* height: 80%; */
    height: auto;
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    /* border: 1px solid white; */
}

.home-form h1 {
    margin-bottom: 20px;
}

.home-form form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    /* gap: 30px; */
    flex-direction: column;
}

.home-form h1 {
    color: #b9c8eb;
}

.home-form label {
    color: white;
    margin-bottom: 5px;
}

.home-form input {
    width: 100%;
    padding: 1vw;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.home-form input:focus {
    outline: none;
}

.home-btn-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Link {
    width: 90%;
    height: 100%;
    color: antiquewhite;
    font-size: 1vw;
    padding: 1vw 4vw;
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: background-color 0.2s ease;
    background-color: #1131b0;
}

.Link:hover {
    background-color: #480ec5;
}


/*  */
@media screen and (max-width:768px) {

    .home-heading {
        width: 100%;
        height: 10%;
        font-size: 3vw;
        margin: 5px 0;
        /* background-color: #1131b0; */
    }

    .home-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        /* background-color: #000428; */
    }

    .home-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-form {
        width: 70%;
    }

    .home-form input {
        border-radius: 2px;
        padding: 8px;
    }

    .Link {
        font-size: 2vw;
        padding: 8px 5px;
    }
}

@media screen and (max-width:490px) {

    .home-heading {
        width: 100%;
        height: 10%;
        font-size: 3.7vw;
        margin: 15px 0;
        /* background-color: #1131b0; */
    }

    .home-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        /* background-color: #000428; */
    }

    .home-left {
        width: 100%;
        height: 50%;
        /* border: 1px solid white; */

    }

    .home-left img {
        width: 60%;
        height: 70%;
        /* border: 1px solid red;   */
    }


    .home-right {
        width: 90%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-form {
        width: 70%;
        margin-bottom: 20px;
    }

    .home-form input {
        border-radius: 5px;
        padding: 8px;
    }

    .Link {
        font-size: 4vw;
        padding: 8px 5px;
    }
}