* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-main {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #4b6cb7, #182848);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background-color: aqua; */
}

.home-heading {
    width: 100%;
    height: 10%;
    color: #d7cbf1;
    font-size: 1.4vw;
    letter-spacing: 6x;
    word-spacing: 3px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: burlywood; */
}

.home-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(36, 78, 78); */
}

.home-left img {
    width: auto;
    height: auto;
    animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.home-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(58, 136, 136); */
}

.home-form {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    /* border: 1px solid black; */
    margin-bottom: 90px;
    backdrop-filter: blur(10px);
    /* Adjust the blur radius as needed */
    /* background-color: rgb(145, 79, 35); */

}

.home-form form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    flex-direction: column;
    /* border: 1px solid black; */
    /* background-color: beige; */
}

.home-form h1 {
    color: #b9c8eb;
}

.home-form input {
    width: 100%;
    padding: 1vw;
    border: 1px solid transparent;
    border-radius: 15px;
}

.home-form input:focus {
    outline: none;
}


.Link {
    width: 90%;
    height: 100%;
    color: antiquewhite;
    font-size: 1vw;
    padding: 1vw 4vw;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: 1px solid #5a19e6;
    border-radius: 10px;
    /* background: linear-gradient(to right, #5c258d, #4389a2); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: background-color 0.3s ease;
    background-color: #6225E6;
}

.Link:hover {
    background-color: #480ec5;
}